footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10%;
    padding-top: 50px;
    gap: 10%;
    backdrop-filter: blur(10px);
    -webkit-mask: -webkit-gradient(
      linear,
      left 5%,
      left 20%,
      from(rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 1))
    );
    /* Standard mask for broader browser compatibility */
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 20%);
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 20%);
    mask-mode: alpha;
}
footer img{
    width: 100px;
}
footer h3{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
footer div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    justify-content: center;
    gap: 20px;
}