@media (max-width: 1500px) {
  #club-association, #management, #hierarchy {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  body{
    background-size: 450%;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    padding-bottom: 30px;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 90%;
    z-index: 10;
  }
  nav .links {
    align-items: center;
  }
  nav h3 {
    font-size: 18px;
  }
  nav h2 {
    font-size: 20px;
  }
  nav img {
    height: 20px;
    padding: 0 5px;
  }
  h1 {
    font-size: 42px;
    letter-spacing: 2px;
  }
  h4, h3 {
    font-size: 18px;
    letter-spacing: 0.6px;
    font-weight: 300;
    text-align: center;
  }
  h5 {
    font-size: 24px;
    letter-spacing: 1px;
  }

  
  #home {
    padding-top: 120px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    gap: 0;
  }
  #home h5 {
    grid-area: 1 / 1 / 2 / 1;
  }
  #home h1 {
    font-size: 64px;
    text-align: center;
    grid-area: 2 / 1 / 3 / 1;
  }
  #home img {
    height: 300px;
    grid-area: 3 / 1 / 4 / 1;
    object-fit: cover;
  }
  #home h4 {
    grid-area: 4 / 1 / 5 / 1;
  }
  #home h5,
  #home h1,
  #home h4 {
    padding: 0;
  }

  #management{
  margin-top: 0vh;
}
  #hierarchy{
    grid-template-columns: repeat(1, 1fr);
  }

  #about-us {
    height: auto;
    gap: 20px;
    grid-template-columns: 2fr 5fr;
  }
  #about-us img {
    width: 80%;
  }
  #about-us h1 {
    grid-area: 1 / 1 / 1 / -1;
  }

  #management {
    display: flex;
    flex-direction: column;
  }
  #club-association {
    display: flex;
    flex-direction: column;
  }

  #clubs{
    flex-direction: column;
  }

  footer{
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);

  }
  footer img{
    width: 75px;
}
}
