nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px 5%;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-mask: -webkit-gradient(
      linear,
      left 85%,
      left 100%,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
  }
  nav img {
    height: 50px;
    padding: 0 10px;
  }
  
  nav div {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  nav .links{
      gap: 50px;
  }
  nav * {
    text-decoration: none;
  }
  nav h2{
    font-family: "Kadwa", serif;
    font-weight: bold;
    font-size: 42px;
    letter-spacing: 4px;
    font-style: normal;
    text-transform: uppercase;
  }
  nav h3{
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 2px;
  }
  nav a {
    color: var(--font-color);
  }
  